.Container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.InputName {
    margin: 0;
}

.Notification {
    padding: 30px;
    position: absolute;
    top: 0%;
    left: -30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: rgba(0, 120, 201, 0.9);
    width: 400px;
    height: 200px;
    z-index: 1;
}

.FormInput {
    width: 100%;
    height: 25px;
    padding: 0;
    margin: 0;
}

.FormBtn {
    margin-top: 10px;
    height: 50px;
    background-color: rgb(238, 250, 130);
}

.FormBtn:hover {
    color: #ffffff;
    background-color: rgb(4, 155, 72);
}
